<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/jee
			http://www.springframework.org/schema/jee/spring-jee.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop">
	<!-- Packages to scan for beans -->
	<context:component-scan base-package="br.com" />
	<!-- Beans are inspected using annotations -->
	<context:annotation-config />
	<!-- JPA Transaction Manager -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- TransactionManager is annotation driven -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- JPA Annotation Processing -->
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<!-- Exception Interceptor -->
	<bean id="persistenceExceptionInterceptor" class="org.springframework.dao.support.PersistenceExceptionTranslationInterceptor" />
	<!-- AOP advice for persistence exceptions -->
	<aop:config proxy-target-class="true">
		<aop:advisor pointcut="execution(* @org.springframework.stereotype.Repository *.*(..))" advice-ref="persistenceExceptionInterceptor" />
	</aop:config>
    
    <!-- Entity Manager MySql -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="jvmstats" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="dataSource" ref="dataSource"/>
		<property name="persistenceUnitPostProcessors">
			<list>
				<bean class="org.springframework.data.jpa.support.ClasspathScanningPersistenceUnitPostProcessor">
					<constructor-arg value="br.com" />
					<property name="mappingFileNamePattern" value="**/*-query.xml" />
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://rds.movbr.com:3306/monitoramento" />
		<property name="username" value="root" />
		<property name="password" value="Juvenal1345*" />
		<property name="initialSize" value="3" />
		<property name="maxActive" value="10" />
	</bean>
</beans>